<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Add_Labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")
import pandas as pd

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [4]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/reviews%20data.csv")
data.head()

                                              Review
0  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...
2  nice rooms not 4* experience hotel monaco seat...
3  unique, great stay, wonderful time hotel monac...
4  great stay great stay, went seahawk game aweso...

In [5]:
data.isnull().sum()

Review    0
dtype: int64

In [6]:
data.dropna()

                                                  Review
0      nice hotel expensive parking got good deal sta...
1      ok nothing special charge diamond member hilto...
2      nice rooms not 4* experience hotel monaco seat...
3      unique, great stay, wonderful time hotel monac...
4      great stay great stay, went seahawk game aweso...
...                                                  ...
20486  best kept secret 3rd time staying charm, not 5...
20487  great location price view hotel great quick pl...
20488  ok just looks nice modern outside, desk staff ...
20489  hotel theft ruined vacation hotel opened sept ...
20490  people talking, ca n't believe excellent ratin...

[20491 rows x 1 columns]

In [7]:
sentiments = SentimentIntensityAnalyzer()
data['Positive'] = [sentiments.polarity_scores(i)["pos"] for i in data['Review']]
data['Negative'] = [sentiments.polarity_scores(i)["neg"] for i in data['Review']]
data['Neutral'] = [sentiments.polarity_scores(i)["neu"] for i in data['Review']]
data['Compound'] = [sentiments.polarity_scores(i)["compound"] for i in data['Review']]
data.head()

,Review,Positive,Negative,Neutral,Compound
0,nice hotel expensive parking got good deal sta...,0.285,0.072,0.643,0.9747
1,ok nothing special charge diamond member hilto...,0.189,0.110,0.701,0.9787
2,nice rooms not 4* experience hotel monaco seat...,0.219,0.081,0.700,0.9889
3,"unique, great stay, wonderful time hotel monac...",0.385,0.060,0.555,0.9912
4,"great stay great stay, went seahawk game aweso...",0.221,0.135,0.643,0.9797

In [8]:
score = data["Compound"].values
sentiment = []
for i in score:
  if i >= 0.05:
    sentiment.append('Positve')
  elif i <= -0.05:
    sentiment.append('Negative')
  else:
    sentiment.append('Neutral')

data["Sentiment"] = sentiment
data.head()

,Review,Positive,Negative,Neutral,Compound,Sentiment
0,nice hotel expensive parking got good deal sta...,0.285,0.072,0.643,0.9747,Positve
1,ok nothing special charge diamond member hilto...,0.189,0.110,0.701,0.9787,Positve
2,nice rooms not 4* experience hotel monaco seat...,0.219,0.081,0.700,0.9889,Positve
3,"unique, great stay, wonderful time hotel monac...",0.385,0.060,0.555,0.9912,Positve
4,"great stay great stay, went seahawk game aweso...",0.221,0.135,0.643,0.9797,Positve

In [10]:
data["Sentiment"].value_counts()

Positve     18831
Negative     1569
Neutral        91
Name: Sentiment, dtype: int64