<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Netflix_OTT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Access to google drive, Kaggle and import libraries

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly as px
plt.style.use('fivethirtyeight')

In [43]:
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/Colab Notebooks/Kaggle'

In [44]:
!kaggle datasets download -d mauryansshivam/netflix-ott-revenue-and-subscribers-csv-file

Downloading netflix-ott-revenue-and-subscribers-csv-file.zip to /content
  0% 0.00/2.16k [00:00<?, ?B/s]
100% 2.16k/2.16k [00:00<00:00, 5.28MB/s]

In [45]:
!unzip '/content/netflix-ott-revenue-and-subscribers-csv-file.zip' && rm '/content/netflix-ott-revenue-and-subscribers-csv-file.zip'

Archive:  /content/netflix-ott-revenue-and-subscribers-csv-file.zip
  inflating: Netflix Revenue.csv

In [46]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2023/Netflix Revenue.csv')
data.tail(5)

,Date,Global Revenue,UACN Revenue,EMEA Revenue,LATM Revenue,APAC Revenue,UACN Members,EMEA Members,LATM Members,APAC Members,...,EMEA RPU,LATM RPU,APAC RPU,Domestic Members,Domestic Revenue,International Members,International Revenue,Domestic Free Trialers,Interntaional Free Trialers,Netflix Global Users
40,31-03-2022,7867767000,3.350424e+09,2.561831e+09,9.989480e+08,916754000.0,74579000.0,73733000.0,39610000.0,33719000.0,...,11.56,8.37,9.21,NaN,NaN,NaN,NaN,NaN,NaN,"22,16,41,000"
41,30-06-2022,7970141000,3.537863e+09,2.457235e+09,1.030234e+09,907719000.0,73283000.0,72966000.0,39624000.0,34799000.0,...,11.17,8.67,8.83,NaN,NaN,NaN,NaN,NaN,NaN,"22,06,72,000"
42,30-09-2022,7925589000,3.601565e+09,2.375814e+09,1.023945e+09,889037000.0,73387000.0,73534000.0,39936000.0,36228000.0,...,10.81,8.58,8.34,NaN,NaN,NaN,NaN,NaN,NaN,"22,30,85,000"
43,31-12-2022,7852053000,3.594791e+09,2.350135e+09,1.016846e+09,856711000.0,74296000.0,76729000.0,41699000.0,38023000.0,...,10.43,8.30,7.69,NaN,NaN,NaN,NaN,NaN,NaN,"23,07,47,000"
44,31-03-2023,8161503000,3.608645e+09,2.517641e+09,1.070192e+09,933523000.0,74398000.0,77373000.0,41249000.0,39478000.0,...,10.89,8.60,8.03,NaN,NaN,NaN,NaN,NaN,NaN,"23,24,98,000"

## Explorer, Clean and Analysis Data 🧹

In [47]:
data.shape

(45, 21)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     object
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 17 non-null     float64
 3   EMEA Revenue                 17 non-null     float64
 4   LATM Revenue                 17 non-null     float64
 5   APAC Revenue                 17 non-null     float64
 6   UACN Members                 17 non-null     float64
 7   EMEA  Members                17 non-null     float64
 8   LATM Members                 17 non-null     float64
 9   APAC Members                 17 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             28 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        28 non-null     float64
 17  International Revenue        28 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     object
dtypes: float64(18), int64(1), object(2)
memory usage: 7.5+ KB

In [49]:
data.isnull().sum()

Date                            0
Global Revenue                  0
UACN Revenue                   28
EMEA Revenue                   28
LATM Revenue                   28
APAC Revenue                   28
UACN Members                   28
EMEA  Members                  28
LATM Members                   28
APAC Members                   28
UACN RPU                       28
EMEA RPU                       28
LATM  RPU                      28
APAC  RPU                      28
Domestic Members               17
Domestic Revenue               17
International Members          17
International Revenue          17
Domestic Free Trialers         33
Interntaional Free Trialers    33
Netflix Global Users            0
dtype: int64

In [50]:
# Change types to columns

data['Date'] = pd.to_datetime(data['Date'])
data['Netflix Global Users'] = data['Netflix Global Users'].str.replace(",","")
data['Netflix Global Users'] = pd.to_numeric(data['Netflix Global Users'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 17 non-null     float64
 3   EMEA Revenue                 17 non-null     float64
 4   LATM Revenue                 17 non-null     float64
 5   APAC Revenue                 17 non-null     float64
 6   UACN Members                 17 non-null     float64
 7   EMEA  Members                17 non-null     float64
 8   LATM Members                 17 non-null     float64
 9   APAC Members                 17 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             28 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        28 non-null     float64
 17  International Revenue        28 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(2)
memory usage: 7.5 KB

<ipython-input-50-56dd14e93b5d>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['Date'] = pd.to_datetime(data['Date'])

In [51]:
# Create 3 new columns Year,Month,Day from Date column

data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

In [57]:
pv_revenue = pd.pivot_table(
    data, index='Year',
    values =['Global Revenue','UACN Revenue','EMEA Revenue','LATM Revenue','APAC Revenue'],aggfunc='sum',fill_value=0,)

In [58]:
pv_members = pd.pivot_table(data,
                            index='Year',
                            values=['UACN Members','EMEA  Members','LATM Members','APAC Members'],
                            aggfunc='sum', fill_value=0)

In [59]:
pv_rpu = pd.pivot_table(data,index='Year',
                        values=['UACN Members','EMEA  Members','LATM Members','APAC Members'],
                        aggfunc='sum',fill_value=0)

In [79]:
pv_resume = pd.pivot_table(data,index='Year',
                           values=['International Members','International Revenue','Netflix Global Users'],
                           aggfunc='sum',fill_value=0)

## Pivot Tables with Revenue, RPU and Members by Continent 🌏

In [80]:
print("NETFLIX REVENUE💲 \n","\n",pv_revenue,"\n","\n","NETFLIX RPU📊 \n","\n",pv_rpu,"\n",
      "\n","NETFLIX MEMBERS👨‍👦‍👦 \n","\n",pv_members,"\n","\n",
      "SUMARIZE OF MEMBERS AND REVENUE 👨‍👦‍👦💲","\n\n",pv_resume)

NETFLIX REVENUE💲

       APAC Revenue  EMEA Revenue  Global Revenue  LATM Revenue  UACN Revenue
Year
2012             0             0      3609282000             0             0
2013             0             0      4374562000             0             0
2014             0             0      5504656000             0             0
2015             0             0      6779511000             0             0
2016             0             0      8830669000             0             0
2017             0             0     11692713000             0             0
2018             0             0     15794341000             0             0
2019    1469521000    5543067000     20156447000    2795434000   10051208000
2020    2372300000    7772252000     24996056000    3156727000   11455396000
2021    3266601000    9699819000     29697844000    3576976000   12972100000
2022    3570221000    9745015000     31615550000    4069973000   14084643000
2023     933523000    2517641000      8161503000    1070192000    3608645000

 NETFLIX RPU📊

       APAC Members  EMEA  Members  LATM Members  UACN Members
Year
2012             0              0             0             0
2013             0              0             0             0
2014             0              0             0             0
2015             0              0             0             0
2016             0              0             0             0
2017             0              0             0             0
2018             0              0             0             0
2019      55801000      185904000     116234000     267910000
2020      91323000      249157000     144247000     289890000
2021     117411000      281740000     155501000     297574000
2022     142769000      296962000     160869000     295545000
2023      39478000       77373000      41249000      74398000

 NETFLIX MEMBERS👨‍👦‍👦

       APAC Members  EMEA  Members  LATM Members  UACN Members
Year
2012             0              0             0             0
2013             0              0             0             0
2014             0              0             0             0
2015             0              0             0             0
2016             0              0             0             0
2017             0              0             0             0
2018             0              0             0             0
2019      55801000      185904000     116234000     267910000
2020      91323000      249157000     144247000     289890000
2021     117411000      281740000     155501000     297574000
2022     142769000      296962000     160869000     295545000
2023      39478000       77373000      41249000      74398000

 SUMARIZE OF MEMBERS AND REVENUE 👨‍👦‍👦💲

       International Members  International Revenue  Netflix Global Users
Year
2012               14014000              287542000            2198882000
2013               31151000              712390000            2782526000
2014               55829000             1308061000            3487263000
2015               92342000             1953435000            4272681000
2016              143869000             3211095000            5221176000
2017              204213000             5089191000            5293404000
2018              286448000             7782105000            7933095000
2019                      0                      0             625849000
2020                      0                      0             774617000
2021                      0                      0             852226000
2022                      0                      0             896145000
2023                      0                      0             232498000

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 17 non-null     float64
 3   EMEA Revenue                 17 non-null     float64
 4   LATM Revenue                 17 non-null     float64
 5   APAC Revenue                 17 non-null     float64
 6   UACN Members                 17 non-null     float64
 7   EMEA  Members                17 non-null     float64
 8   LATM Members                 17 non-null     float64
 9   APAC Members                 17 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             28 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        28 non-null     float64
 17  International Revenue        28 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     int64
 21  Year                         45 non-null     int64
 22  Month                        45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(4)
memory usage: 8.2 KB