<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Project_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#install library
!pip install google-search-results

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-search-results
  Downloading google_search_results-2.4.1.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from google-search-results) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (1.24.3)
Building wheels for collected packages: google-search-results
  Building wheel for google-search-results (setup.py) ... done
  Created wheel for google-search-results: filename=google_search_results-2.4.1-py3-none-any.whl size=25788 sha256=e62a9aba3d3cf1dadeb086c2fcaec53f03f114fbab372bac3f2dde769fb99e9c
  Stored in directory: /root/.cache/pip/wheels/ea/58/9e/3d89ebff948ef9ce0a6e056a8279c1f93c76993387766f8387
Successfully built google-search-results
Installing collected packages: google-search-results
Successfully installed google-search-results-2.4.1

In [2]:
#import library needed for the search
import numpy as np
import pandas as pd
import plotly.express as px 
import matplotlib.pyplot as plt
from serpapi import GoogleSearch
plt.style.use('fivethirtyeight')

In [3]:
#SerpApi google search
search_term="Data Analyst" #Job to be searching
search_location="United States" #Places where you search https://serpapi.com/google-countries


params = {
  "q": search_term,
  "location": search_location,
  "engine" : "google_jobs",
  "hl": "en",
  "gl": "us",
  "google_domain": "google.com",
  "api_key": "a74096ebb3b875e086bdf8353fb1e90edbd5bdbb2c9e9ea9bf863f98e55ac489"
}

In [4]:
#creating dataframe with the information obtenied of the search
search = GoogleSearch(params)
results = search.get_dict()
jobs_df = results['jobs_results']
jobs_df = pd.DataFrame(jobs_df)
jobs_df = pd.concat([pd.DataFrame(jobs_df),
                     pd.json_normalize(jobs_df['detected_extensions'])],
                    axis=1).drop('detected_extensions',1)

https://serpapi.com/search

<ipython-input-4-d668609e91a2>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  jobs_df = pd.concat([pd.DataFrame(jobs_df),

In [15]:
#Quick looking on the dataframe
jobs_df.head(13)

,title,company_name,location,via,description,job_highlights,related_links,extensions,job_id,thumbnail,posted_at,schedule_type,work_from_home,salary
0,Business and Data Analyst,"016 Freightquote.com, Inc.","Kansas City, MO",via C.H. Robinson Jobs,Job Description\n\nC.H. Robinson solves logist...,"[{'title': 'Qualifications', 'items': ['3+ yea...","[{'link': 'http://www.freightquote.com/', 'tex...","[2 days ago, Full-time, Health insurance, Dent...",eyJqb2JfdGl0bGUiOiJCdXNpbmVzcyBhbmQgRGF0YSBBbm...,NaN,2 days ago,Full-time,NaN,NaN
1,Business Data Analyst,Optomi,Anywhere,via LinkedIn,"Business/Data Analyst | 100% Remote\n\nOptomi,...","[{'title': 'Qualifications', 'items': ['The ri...",[{'link': 'https://www.google.com/search?ucbcb...,"[23 hours ago, Work from home, Full-time, No d...",eyJqb2JfdGl0bGUiOiJCdXNpbmVzcyBEYXRhIEFuYWx5c3...,https://encrypted-tbn0.gstatic.com/images?q=tb...,23 hours ago,Full-time,True,NaN
2,Data Analyst,Corbion,"Lenexa, KS",via Careers In Food,"At Corbion, we exist to champion preservation ...","[{'title': 'Qualifications', 'items': ['Bachel...","[{'link': 'http://www.corbion.com/', 'text': '...","[15 hours ago, Full-time]",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,15 hours ago,Full-time,NaN,NaN
3,Healthcare Data Analyst : 100% remote,Dice,Anywhere,via LinkedIn,Dice is the leading career destination for tec...,"[{'title': 'Qualifications', 'items': ['Master...",[{'link': 'https://www.google.com/search?ucbcb...,"[18 hours ago, Work from home, Contractor]",eyJqb2JfdGl0bGUiOiJIZWFsdGhjYXJlIERhdGEgQW5hbH...,https://encrypted-tbn0.gstatic.com/images?q=tb...,18 hours ago,Contractor,True,NaN
4,Data Analyst,Vuesol Technologies Inc,Anywhere,via LinkedIn,Role: Data Anaylst\n\nOnly for W2...\n\nAny EA...,"[{'title': 'Qualifications', 'items': ['Bachel...",[{'link': 'https://www.google.com/search?ucbcb...,"[3 minutes ago, Work from home, Contractor]",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,3 minutes ago,Contractor,True,NaN
5,Data Analyst for Ecommerce and Marketing Agency,Upwork,Anywhere,via Upwork,Job Description:\n\nWe are a growing ecommerce...,"[{'title': 'Qualifications', 'items': ['The id...","[{'link': 'http://www.elance.com/', 'text': 'e...","[24 hours ago, 10–300 an hour, Work from home,...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgZm9yIEVjb2...,NaN,24 hours ago,Contractor,True,10–300 an hour
6,Data Analyst II (Healthcare Analytics)-Remote,Corporate,Missouri (+3 others),via Centene - Centene Corporation,"Your Career, Your Journey!\n\nThank you for ex...","[{'title': 'Qualifications', 'items': ['Bachel...",[{'link': 'https://www.google.com/search?ucbcb...,"[7 days ago, Full-time, Health insurance, Dent...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgSUkgKEhlYW...,https://encrypted-tbn0.gstatic.com/images?q=tb...,7 days ago,Full-time,NaN,NaN
7,Business Data Analyst,Hudson Technologies,United States,via LinkedIn,Is environmental sustainability a core value o...,"[{'title': 'Qualifications', 'items': ['Demons...","[{'link': 'http://www.hudsontech.com/', 'text'...","[22 hours ago, Full-time]",eyJqb2JfdGl0bGUiOiJCdXNpbmVzcyBEYXRhIEFuYWx5c3...,https://encrypted-tbn0.gstatic.com/images?q=tb...,22 hours ago,Full-time,NaN,NaN
8,Senior Data Analyst,Cardinal Health,United States (+1 other),via Cardinal Health,Senior. Data Analyst\n\nHeadquartered in Dubli...,"[{'title': 'Qualifications', 'items': ['Candid...","[{'link': 'http://www.cardinal.com/', 'text': ...","[7 days ago, Full-time]",eyJqb2JfdGl0bGUiOiJTZW5pb3IgRGF0YSBBbmFseXN0Ii...,NaN,7 days ago,Full-time,NaN,NaN
9,Data Analyst,Millennium Space Systems,United States,via Rocket Crew,"Company Overview\nMillennium Space Systems, A ...","[{'title': 'Qualifications', 'items': ['Two ye...","[{'link': 'http://www.millennium-space.com/', ...","[3 days ago, Full-time, Health insurance, Dent...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,NaN,3 days ago,Full-time,NaN,NaN

In [6]:
jobs_df.isnull().sum() #Looking for null values

title             0
company_name      0
location          0
via               0
description       0
job_highlights    0
related_links     0
extensions        0
job_id            0
thumbnail         4
posted_at         0
schedule_type     0
work_from_home    6
salary            9
dtype: int64

In [7]:
jobs_df.shape #Shape of the DataFrame

(10, 14)

In [8]:
jobs_df.info() #Information about columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           10 non-null     object
 1   company_name    10 non-null     object
 2   location        10 non-null     object
 3   via             10 non-null     object
 4   description     10 non-null     object
 5   job_highlights  10 non-null     object
 6   related_links   10 non-null     object
 7   extensions      10 non-null     object
 8   job_id          10 non-null     object
 9   thumbnail       6 non-null      object
 10  posted_at       10 non-null     object
 11  schedule_type   10 non-null     object
 12  work_from_home  4 non-null      object
 13  salary          1 non-null      object
dtypes: object(14)
memory usage: 1.2+ KB

# Normalized JSON to search necessary items for the job

In [9]:
#Normalize column
jobs = pd.json_normalize(jobs_df.job_highlights )

In [10]:
jobs_df2 = pd.DataFrame(jobs) #Creating DataFrame with data obtenied from the normalization
Ujobs = jobs_df2[0].apply(pd.Series) #applying Series to read data

#Ujobs.loc[Ujobs["items"].str.contains("SQL")]

            title                                              items
0  Qualifications  [3+ years’ previous analytics experience devel...
1  Qualifications  [The right candidate will have a background in...
2  Qualifications  [Bachelor's degree (or equivalent) in business...
3  Qualifications  [Masters/Bachelor’s degree in Information tech...
4  Qualifications  [Bachelor’s degree in Computer Science or rela...
5  Qualifications  [The ideal candidate will have a strong backgr...
6  Qualifications  [Bachelor’s degree in business, economics, sta...
7  Qualifications  [Demonstrated ability to assemble, analyze and...
8  Qualifications  [Candidates must be experienced in providing a...
9  Qualifications  [Two years of professional experience in analy...

In [11]:
Ujobs = Ujobs.drop(columns = "title") #Eliminated column with irrelevant information

In [63]:
# Creating new DataFrame extracting data to search keywords
toolsJob = pd.DataFrame()
for i in Ujobs['items']:
  toolsJob = toolsJob.append(i,ignore_index=True)  

print(toolsJob)

                                                    0
0   3+ years’ previous analytics experience develo...
1                     3+ years’ experience with T-SQL
2   3+ years’ experience with Microsoft Power BI o...
3   Intermediate knowledge of a programming langua...
4   Bachelor’s Degree or equivalent work experienc...
..                                                ...
68     Strong written and verbal communication skills
69               Detail oriented and highly organized
70                     Self-starter and a team player
71  Applicants MUST be U.S. citizens and eligible ...
72  Additionally, applicants must be willing to ap...

[73 rows x 1 columns]

In [72]:
toolsJob.loc[toolsJob[0].str.contains("SQL")]

                                                    0
1                     3+ years’ experience with T-SQL
6   The right candidate will have a background in ...
11                Experience and confidence using SQL
19  Working knowledge of SQL/querying languages, s...
28  Ability to write basic SQL queries and perform...
40           Working knowledge of SQL/query languages
58  Understanding of database (SQL, Stored Proc), ...
63         Knowledge of Transact-SQL (and SQL Server)