<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Proyect_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
#install library
!pip install google-search-results

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-search-results in /usr/local/lib/python3.8/dist-packages (2.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from google-search-results) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2022.12.7)

In [81]:
#import library needed for the search
import numpy as np
import pandas as pd
import plotly.express as px 
import matplotlib.pyplot as plt
from serpapi import GoogleSearch
plt.style.use('fivethirtyeight')

In [82]:
#SerpApi google search
search_term="Data Analyst" #Job to be searching
search_location="United States" #Places where you search https://serpapi.com/google-countries


params = {
  "q": search_term,
  "location": search_location,
  "engine" : "google_jobs",
  "hl": "en",
  "gl": "us",
  "google_domain": "google.com",
  "api_key": "a74096ebb3b875e086bdf8353fb1e90edbd5bdbb2c9e9ea9bf863f98e55ac489"
}

In [83]:
#creating dataframe with the information obtenied of the search
search = GoogleSearch(params)
results = search.get_dict()
jobs_df = results['jobs_results']
jobs_df = pd.DataFrame(jobs_df)
jobs_df = pd.concat([pd.DataFrame(jobs_df),
                     pd.json_normalize(jobs_df['detected_extensions'])],
                    axis=1).drop('detected_extensions',1)

https://serpapi.com/search

<ipython-input-83-d668609e91a2>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  jobs_df = pd.concat([pd.DataFrame(jobs_df),

In [84]:
#Quick looking of the dataframe
jobs_df.head(5)

,title,company_name,location,via,description,job_highlights,related_links,thumbnail,extensions,job_id,posted_at,schedule_type,work_from_home
0,Data Analyst,Midtown Consulting Group,Anywhere,via LinkedIn,The Data Analyst Consultant at Midtown Consult...,"[{'title': 'Qualifications', 'items': ['Bachel...",[{'link': 'https://www.google.com/search?gl=us...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[24 hours ago, Work from home, Full-time]",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,24 hours ago,Full-time,True
1,Junior Data Analyst,Diligente Technologies,United States,via LinkedIn,Employment Type: Contract\n\nCity: San Francis...,"[{'title': 'Qualifications', 'items': ['Must h...",[{'link': 'https://www.google.com/search?gl=us...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[23 hours ago, Contractor, No degree mentioned]",eyJqb2JfdGl0bGUiOiJKdW5pb3IgRGF0YSBBbmFseXN0Ii...,23 hours ago,Contractor,NaN
2,"Intern, People Data Analyst",Biogen,Anywhere,via LinkedIn,"Company Description\n\nAt Biogen, our mission ...","[{'title': 'Qualifications', 'items': ['Talent...","[{'link': 'http://www.biogen.com/', 'text': 'b...",https://encrypted-tbn0.gstatic.com/images?q=tb...,"[7 minutes ago, Work from home, Full-time]",eyJqb2JfdGl0bGUiOiJJbnRlcm4sIFBlb3BsZSBEYXRhIE...,7 minutes ago,Full-time,True
3,Senior Data Analyst,Cardinal Health,United States (+1 other),via Cardinal Health,Senior. Data Analyst\n\nHeadquartered in Dubli...,"[{'title': 'Qualifications', 'items': ['Candid...","[{'link': 'http://www.cardinal.com/', 'text': ...",NaN,"[6 days ago, Full-time]",eyJqb2JfdGl0bGUiOiJTZW5pb3IgRGF0YSBBbmFseXN0Ii...,6 days ago,Full-time,NaN
4,Data Analyst,Millennium Space Systems,United States,via Rocket Crew,"Company Overview\nMillennium Space Systems, A ...","[{'title': 'Qualifications', 'items': ['Two ye...","[{'link': 'http://www.millennium-space.com/', ...",NaN,"[2 days ago, Full-time, Health insurance, Dent...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,2 days ago,Full-time,NaN

In [85]:
jobs_df.isnull().sum()

title             0
company_name      0
location          0
via               0
description       0
job_highlights    1
related_links     0
thumbnail         2
extensions        0
job_id            0
posted_at         0
schedule_type     0
work_from_home    4
dtype: int64

In [86]:
jobs_df.shape

(10, 13)

In [87]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           10 non-null     object
 1   company_name    10 non-null     object
 2   location        10 non-null     object
 3   via             10 non-null     object
 4   description     10 non-null     object
 5   job_highlights  9 non-null      object
 6   related_links   10 non-null     object
 7   thumbnail       8 non-null      object
 8   extensions      10 non-null     object
 9   job_id          10 non-null     object
 10  posted_at       10 non-null     object
 11  schedule_type   10 non-null     object
 12  work_from_home  6 non-null      object
dtypes: object(13)
memory usage: 1.1+ KB

# Searching about how to read dict/json in a dataframe columns or putting all information in a new column

In [88]:
jobs = pd.json_normalize(jobs_df.job_highlights )

In [89]:
jobs_df2 = pd.DataFrame(jobs)
Ujobs = jobs_df2[0].apply(pd.Series)
print(Ujobs)
#Ujobs.loc[Ujobs["items"].str.contains("SQL")]

            title                                              items
0  Qualifications  [Bachelor's Degree completed in data science, ...
1  Qualifications  [Must have a minimum of 2 years banking experi...
2  Qualifications  [Talent, skills, and functional expertise, Pro...
3  Qualifications  [Candidates must be experienced in providing a...
4  Qualifications  [Two years of professional experience in analy...
5  Qualifications  [Bachelor's degree or an equivalent combinatio...
6  Qualifications  [Who you are: You likely have a couple of year...
7  Qualifications  [The ideal candidate is also comfortable worki...
8  Qualifications  [You can tell a story with data, and make it v...
9             NaN                                                NaN

In [90]:
Ujobs = Ujobs.drop(columns = "title")

In [91]:
Ujobs

                                               items
0  [Bachelor's Degree completed in data science, ...
1  [Must have a minimum of 2 years banking experi...
2  [Talent, skills, and functional expertise, Pro...
3  [Candidates must be experienced in providing a...
4  [Two years of professional experience in analy...
5  [Bachelor's degree or an equivalent combinatio...
6  [Who you are: You likely have a couple of year...
7  [The ideal candidate is also comfortable worki...
8  [You can tell a story with data, and make it v...
9                                                NaN

In [93]:
for i in Ujobs["items"]:
  print(i)

["Bachelor's Degree completed in data science, business, or related field", '2+ years of experience in a consulting environment', 'Microsoft Certifications within the Data Analyst track, Dynamics 365 track, etc', 'MB-910, MB-500, MB-700, DP-900, PL-100', 'Prior experience within the banking or financial services sector']
['Must have a minimum of 2 years banking experience, preferably opening or auditing new accounts', 'Ability to work independently and be self-directed while being a strong team player', 'Strong analytical skills with the ability to organize and analyze significant amounts of information with attention to detail and accuracy', 'Strong Excel data analysis skills', 'Working knowledge of MS Word and Outlook', 'Proven high level of accuracy in data entry', 'Excellent written and oral communications skills and the ability to clearly define projects, objectives, goals, schedules and assignments', 'Ability to work effectively with business personnel at all levels', 'Must exercise a reasonable amount of independent judgment under a minimum of supervision', 'Requires strong interpersonal and organizational skills, including the ability to meet deadlines, follow written policies and procedures, and maintain superior customer service at all times with all users']
['Talent, skills, and functional expertise', 'Program management', 'Experience in Excel and PowerPoint', 'Experience utilizing business intelligence solutions', 'Basic understanding of HRIS systems', 'To participate in the Biogen Internship Program, students must meet the following eligibility criteria:', 'Legal authorization to work in the U.S', 'At least 18 years of age prior to the scheduled start date', 'Be currently enrolled in an accredited college or university', 'Bachelor’s degree']
['Candidates must be experienced in providing analytical thought leadership and telling insight-driven data stories', "Bachelors' Degree in related field, or equivalent work experience", 'Expert level ability to identify and troubleshoot critical issues', 'Develops clear and well-structured analytical plans and analyzes large datasets', 'Helps business by interpreting data to assess and compare performance', 'Experience with business-critical applications', 'Experience translating vague requests into concrete deliverables', 'Experience with migrating legacy systems to modern cloud-based analytical solutions', 'Ability to adapt to fast changing environments', 'AWS/Google Cloud platform experience', 'Agile implementation experience', 'Understanding of database (SQL, Stored Proc), data ingestion, data warehouse, ETL etc', 'Experience working with SAP systems', 'Experience with Python and/or R', 'Understanding of Project management lifecycle']
['Two years of professional experience in analytical roles', 'Knowledge of Transact-SQL (and SQL Server)', 'Working knowledge of at least one programming language for data analysis, such as R, Python (including NumPy, pandas, and scikit-learn), or Julia', 'Familiarity with statistical methods, including time series forecasting and regression analysis', 'Experience interacting with and manipulating relational datasets', 'Experience leading at least one data-driven project with multiple stakeholders', 'Strong written and verbal communication skills', 'Detail oriented and highly organized', 'Self-starter and a team player', 'Applicants MUST be U.S. citizens and eligible for a security clearance', 'Additionally, applicants must be willing to apply for and maintain a security clearance']
["Bachelor's degree or an equivalent combination of education and", 'relevant experience and at least 4 years of experience from which', 'comparable knowledge and skills can be acquired is necessary', 'Working knowledge of assessment principles as they relate to', 'ability and competence without unlawful discrimination on the basis', 'age, disability, protected veteran status, or any other status']
['Who you are: You likely have a couple of years of experience and are a fan of data and data analysis tools and continuous improvement', 'You have these skills and certifications as a minimum', 'You might already be on a Six Sigma or Lean certification path', 'Minimum 2+ years of Data Management and Business Analytics Experience, or equivalent demonstrated through one or a combination of the following: work experience, training, military experience, or education', 'Experience working in Operations and/or reporting environment', 'Knowledge and understanding of audit, regulatory compliance, or risk management is a nice to have', 'Experience analyzing and documenting workflow, processes, and procedures', 'Experience working with workflow management tools (Jira, Confluence, Miro)', 'Excellent MS Office skills']
['The ideal candidate is also comfortable working in a fast-paced startup environment, solving problems independently, and comfortable with ambiguity as data systems and processes are still being shaped', 'A bachelor’s degree in Mathematics, Computer Science, Statistics, Engineering, or related field', '4+ years of experience as a Data Analyst Experience building dashboards, visualizations, and reports using BI tools (Mode, Tableau, PowerBI, Google Data Studio, Quicksight, etc.)', 'Proficient with SQL', 'Experience with statistical scripting / analysis tools (Python, R. etc.)', 'Strong skills in communication and collaboration with diverse teams', 'Organized and results-driven', 'Comfortable in a fast-paced environment, subject to rapid change and innovation', 'A masters degree in a health-related field (e.g., public health, social work, nutrition)', 'Experience with health data and/or with analysis for research publications', 'Experience with javascript and D3.js', 'Previous experience working in a healthtech startup', 'Familiarity with A/B testing techniques', 'Passion for mental health and eating disorder treatment and expanding access to treatment']
['You can tell a story with data, and make it visually appealing to wide audiences', 'You’ve been working with data and analytics for at least 3 years', 'You have experience working with Snowflake, Looker or equivalent visualization tools', 'You can use SQL and have strong analytical experience', 'You are comfortable working in an agile environment, delivering incremental value', 'You can analyze data sets using statistical languages or Python', 'You are a problem-solver and critical thinker', 'Effective communicator, able to clearly and succinctly explain complex topics', 'Natural collaborator, with experience working multi-functionally with partners', 'Your work can be achieved independently, in a remote environment with minimal supervision', 'You love to learn, and are committed to personal development', 'Experience with SaaS businesses, value drivers and common metrics', 'Experience in scripting or statistical languages such as R']
nan