<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Proyect_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#install library
!pip install google-search-results

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-search-results in /usr/local/lib/python3.8/dist-packages (2.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from google-search-results) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2.10)

In [20]:
#import library needed for the search
import numpy as np
import pandas as pd
import plotly.express as px 
import matplotlib.pyplot as plt
from serpapi import GoogleSearch
plt.style.use('fivethirtyeight')

In [21]:
#SerpApi google search
search_term="Data Analyst" #Job to be searching
search_location="United States" #Places where you search https://serpapi.com/google-countries


params = {
  "q": search_term,
  "location": search_location,
  "engine" : "google_jobs",
  "hl": "en",
  "gl": "us",
  "google_domain": "google.com",
  "api_key": "a74096ebb3b875e086bdf8353fb1e90edbd5bdbb2c9e9ea9bf863f98e55ac489"
}

In [22]:
#creating dataframe with the information obtenied of the search
search = GoogleSearch(params)
results = search.get_dict()
jobs_df = results['jobs_results']
jobs_df = pd.DataFrame(jobs_df)
jobs_df = pd.concat([pd.DataFrame(jobs_df),
                     pd.json_normalize(jobs_df['detected_extensions'])],
                    axis=1).drop('detected_extensions',1)

https://serpapi.com/search

<ipython-input-22-d668609e91a2>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  jobs_df = pd.concat([pd.DataFrame(jobs_df),

In [23]:
#Quick looking of the dataframe
jobs_df.head(5)

,title,company_name,location,via,description,job_highlights,related_links,extensions,job_id,thumbnail,posted_at,schedule_type,work_from_home
0,Business and Data Analyst,"016 Freightquote.com, Inc.","Kansas City, MO",via C.H. Robinson Jobs,Job Description\n\nC.H. Robinson solves logist...,"[{'title': 'Qualifications', 'items': ['3+ yea...","[{'link': 'http://www.freightquote.com/', 'tex...","[21 hours ago, Full-time, Health insurance, De...",eyJqb2JfdGl0bGUiOiJCdXNpbmVzcyBhbmQgRGF0YSBBbm...,NaN,21 hours ago,Full-time,NaN
1,Business Data Analyst,Optomi,Anywhere,via LinkedIn,"Business/Data Analyst | 100% Remote\n\nOptomi,...","[{'title': 'Qualifications', 'items': ['The ri...",[{'link': 'https://www.google.com/search?hl=en...,"[5 hours ago, Work from home, Full-time, No de...",eyJqb2JfdGl0bGUiOiJCdXNpbmVzcyBEYXRhIEFuYWx5c3...,https://encrypted-tbn0.gstatic.com/images?q=tb...,5 hours ago,Full-time,True
2,Data Analyst,Midtown Consulting Group,Anywhere,via LinkedIn,The Data Analyst Consultant at Midtown Consult...,"[{'title': 'Qualifications', 'items': ['Bachel...",[{'link': 'https://www.google.com/search?hl=en...,"[1 day ago, Work from home, Full-time]",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,1 day ago,Full-time,True
3,"Senior Data Analyst, People Analytics",SiriusXM,Anywhere,via LinkedIn,"Who We Are: SiriusXM and its brands (Pandora,S...","[{'title': 'Qualifications', 'items': ['We are...","[{'link': 'https://www.siriusxm.com/', 'text':...","[19 hours ago, Work from home, Full-time]",eyJqb2JfdGl0bGUiOiJTZW5pb3IgRGF0YSBBbmFseXN0LC...,https://encrypted-tbn0.gstatic.com/images?q=tb...,19 hours ago,Full-time,True
4,DATA ANALYST I,University of Missouri,"Columbia, MO",via The Chronicle Of Higher Education Jobs,"Hiring Department\n\nRobert J. Trulaske, Sr Co...","[{'title': 'Qualifications', 'items': ['Bachel...","[{'link': 'https://missouri.edu/', 'text': 'mi...","[8 days ago, Full-time, Health insurance, Dent...",eyJqb2JfdGl0bGUiOiJEQVRBIEFOQUxZU1QgSSIsImh0aW...,https://encrypted-tbn0.gstatic.com/images?q=tb...,8 days ago,Full-time,NaN

In [24]:
jobs_df.isnull().sum()

title             0
company_name      0
location          0
via               0
description       0
job_highlights    0
related_links     0
extensions        0
job_id            0
thumbnail         3
posted_at         0
schedule_type     0
work_from_home    5
dtype: int64

In [25]:
jobs_df.shape

(10, 13)

In [26]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           10 non-null     object
 1   company_name    10 non-null     object
 2   location        10 non-null     object
 3   via             10 non-null     object
 4   description     10 non-null     object
 5   job_highlights  10 non-null     object
 6   related_links   10 non-null     object
 7   extensions      10 non-null     object
 8   job_id          10 non-null     object
 9   thumbnail       7 non-null      object
 10  posted_at       10 non-null     object
 11  schedule_type   10 non-null     object
 12  work_from_home  5 non-null      object
dtypes: object(13)
memory usage: 1.1+ KB

# Normalized JSON to search necessary items for the job

In [27]:
jobs = pd.json_normalize(jobs_df.job_highlights )

In [28]:
jobs_df2 = pd.DataFrame(jobs)
Ujobs = jobs_df2[0].apply(pd.Series)
print(Ujobs)
#Ujobs.loc[Ujobs["items"].str.contains("SQL")]

            title                                              items
0  Qualifications  [3+ years’ previous analytics experience devel...
1  Qualifications  [The right candidate will have a background in...
2  Qualifications  [Bachelor's Degree completed in data science, ...
3  Qualifications  [We are open to this employee being remote any...
4  Qualifications  [Bachelor's degree or an equivalent combinatio...
5  Qualifications  [Must have a minimum of 2 years banking experi...
6  Qualifications  [Two years of professional experience in analy...
7  Qualifications  [Candidates must be experienced in providing a...
8  Qualifications  [Experience in a Marketing analytical role or ...
9  Qualifications  [You can tell a story with data, and make it v...

In [29]:
Ujobs = Ujobs.drop(columns = "title")

In [30]:
Ujobs

                                               items
0  [3+ years’ previous analytics experience devel...
1  [The right candidate will have a background in...
2  [Bachelor's Degree completed in data science, ...
3  [We are open to this employee being remote any...
4  [Bachelor's degree or an equivalent combinatio...
5  [Must have a minimum of 2 years banking experi...
6  [Two years of professional experience in analy...
7  [Candidates must be experienced in providing a...
8  [Experience in a Marketing analytical role or ...
9  [You can tell a story with data, and make it v...

In [64]:
count = 1
for i in Ujobs['items']:
  #count = 0
  list1 = []
  list1.append(i)
  print(list1)
  count = count + 1

[['3+ years’ previous analytics experience developing business solutions using comprehensive, robust data assets', '3+ years’ experience with T-SQL', '3+ years’ experience with Microsoft Power BI or similar products', 'Intermediate knowledge of a programming language such as Python and/or R', 'Bachelor’s Degree or equivalent work experience and a high school diploma/GED', 'Values a diverse and inclusive work environment']]
[['The right candidate will have a background in development, will be able to comfortably use SQL, will have experience with SAS, and will be familiar with ETL tools and pipelines', 'Remote work Flexibility!', 'The ability to work for a Fortune 500 company!', 'The opportunity to work on a highly visible project for the company!', 'Familiar with databases, has foundational knowledge that can be built', 'Experience and confidence using SQL']]
[["Bachelor's Degree completed in data science, business, or related field", '2+ years of experience in a consulting environment', 'Microsoft Certifications within the Data Analyst track, Dynamics 365 track, etc', 'MB-910, MB-500, MB-700, DP-900, PL-100', 'Prior experience within the banking or financial services sector']]
[['We are open to this employee being remote anywhere in the U.S', 'Minimum 5+ years of experience in advanced analytics', 'Bachelor’s degree or equivalent combination of education and experience', 'Advanced Microsoft Excel Skills', '2-4 years of Workday Advanced Reporting & Analytics experience required', 'Curious problem solver with an ability to answer questions and tell a story using data', 'Ability to work with large data sets and summarize key findings', 'Keen attention to detail and passion for data and data integrity, process and efficiency', 'Excellent time management skills, with the ability to prioritize and multi-task, and work under shifting deadlines in a fast-paced environment', 'Strong organizational skills and attention to details', 'Discretion and sensitivity to confidentiality', 'Willingness to take initiative and ownership of projects', 'Positive attitude and strong work ethic', 'Must have legal right to work in the U.S']]
[["Bachelor's degree or an equivalent combination of education and", 'relevant experience and at least 4 years of experience from which', 'comparable knowledge and skills can be acquired is necessary', 'Working knowledge of assessment principles as they relate to', 'ability and competence without unlawful discrimination on the basis', 'age, disability, protected veteran status, or any other status']]
[['Must have a minimum of 2 years banking experience, preferably opening or auditing new accounts', 'Ability to work independently and be self-directed while being a strong team player', 'Strong analytical skills with the ability to organize and analyze significant amounts of information with attention to detail and accuracy', 'Strong Excel data analysis skills', 'Working knowledge of MS Word and Outlook', 'Proven high level of accuracy in data entry', 'Excellent written and oral communications skills and the ability to clearly define projects, objectives, goals, schedules and assignments', 'Ability to work effectively with business personnel at all levels', 'Must exercise a reasonable amount of independent judgment under a minimum of supervision', 'Requires strong interpersonal and organizational skills, including the ability to meet deadlines, follow written policies and procedures, and maintain superior customer service at all times with all users']]
[['Two years of professional experience in analytical roles', 'Knowledge of Transact-SQL (and SQL Server)', 'Working knowledge of at least one programming language for data analysis, such as R, Python (including NumPy, pandas, and scikit-learn), or Julia', 'Familiarity with statistical methods, including time series forecasting and regression analysis', 'Experience interacting with and manipulating relational datasets', 'Experience leading at least one data-driven project with multiple stakeholders', 'Strong written and verbal communication skills', 'Detail oriented and highly organized', 'Self-starter and a team player', 'Applicants MUST be U.S. citizens and eligible for a security clearance', 'Additionally, applicants must be willing to apply for and maintain a security clearance']]
[['Candidates must be experienced in providing analytical thought leadership and telling insight-driven data stories', "Bachelors' Degree in related field, or equivalent work experience", 'Expert level ability to identify and troubleshoot critical issues', 'Develops clear and well-structured analytical plans and analyzes large datasets', 'Helps business by interpreting data to assess and compare performance', 'Experience with business-critical applications', 'Experience translating vague requests into concrete deliverables', 'Experience with migrating legacy systems to modern cloud-based analytical solutions', 'Ability to adapt to fast changing environments', 'AWS/Google Cloud platform experience', 'Agile implementation experience', 'Understanding of database (SQL, Stored Proc), data ingestion, data warehouse, ETL etc', 'Experience working with SAP systems', 'Experience with Python and/or R', 'Understanding of Project management lifecycle']]
[['Experience in a Marketing analytical role or an Analyst role in the Wagering sector', 'Degree level qualification specializing in Analytics, Mathematics or Statistics or related field', 'Passion for esports/betting/gaming', 'Advanced knowledge of data query languages and data manipulation including SQL', 'Strong written and oral communication skills', 'Able to liaise with distributed teams from different disciplines to deliver goals on time', 'A keen eye for detail and comfortable being hands on in a small team, start-up environment', 'Ability to effectively prioritize, manage and execute tasks', 'Strong time management and multitasking skills', 'Customer Centric, "can do" attitude - Always curious about their experience', 'Strong work ethic and ability to ‘get the job done’', 'Able to build effective working relationships', 'Deliver work to a high standard', 'Sound working knowledge of Data & Analytics platforms and tools', 'Previous experience using Tableau', 'Understanding of bookmaking and risk management concepts', 'Knowledge of Predictive Analytics and Machine Learning processes, tools and techniques', 'Additional proficiency in R or Python', 'Experience with Google Analytics']]
[['You can tell a story with data, and make it visually appealing to wide audiences', 'You’ve been working with data and analytics for at least 3 years', 'You have experience working with Snowflake, Looker or equivalent visualization tools', 'You can use SQL and have strong analytical experience', 'You are comfortable working in an agile environment, delivering incremental value', 'You can analyze data sets using statistical languages or Python', 'You are a problem-solver and critical thinker', 'Effective communicator, able to clearly and succinctly explain complex topics', 'Natural collaborator, with experience working multi-functionally with partners', 'Your work can be achieved independently, in a remote environment with minimal supervision', 'You love to learn, and are committed to personal development', 'Experience with SaaS businesses, value drivers and common metrics', 'Experience in scripting or statistical languages such as R']]

In [60]:
list1

[['You can tell a story with data, and make it visually appealing to wide audiences',
  'You’ve been working with data and analytics for at least 3 years',
  'You have experience working with Snowflake, Looker or equivalent visualization tools',
  'You can use SQL and have strong analytical experience',
  'You are comfortable working in an agile environment, delivering incremental value',
  'You can analyze data sets using statistical languages or Python',
  'You are a problem-solver and critical thinker',
  'Effective communicator, able to clearly and succinctly explain complex topics',
  'Natural collaborator, with experience working multi-functionally with partners',
  'Your work can be achieved independently, in a remote environment with minimal supervision',
  'You love to learn, and are committed to personal development',
  'Experience with SaaS businesses, value drivers and common metrics',
  'Experience in scripting or statistical languages such as R']]