<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Proyect_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
#install library
!pip install google-search-results

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-search-results in /usr/local/lib/python3.8/dist-packages (2.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from google-search-results) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->google-search-results) (1.24.3)

In [54]:
#import library needed for the search
import numpy as np
import pandas as pd
import plotly.express as px 
import matplotlib.pyplot as plt
from serpapi import GoogleSearch
plt.style.use('fivethirtyeight')

In [71]:
#SerpApi google search
search_term="Data Analyst" #Job to be searching
search_location="United States" #Places where you search https://serpapi.com/google-countries


params = {
  "q": search_term,
  "location": search_location,
  "engine" : "google_jobs",
  "hl": "en",
  "gl": "us",
  "google_domain": "google.com",
  "api_key": "a74096ebb3b875e086bdf8353fb1e90edbd5bdbb2c9e9ea9bf863f98e55ac489"
}

In [72]:
#creating dataframe with the information obtenied of the search
search = GoogleSearch(params)
results = search.get_dict()
jobs_df = results['jobs_results']
jobs_df = pd.DataFrame(jobs_df)
jobs_df = pd.concat([pd.DataFrame(jobs_df),
                     pd.json_normalize(jobs_df['detected_extensions'])],
                    axis=1).drop('detected_extensions',1)

https://serpapi.com/search

<ipython-input-72-d668609e91a2>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  jobs_df = pd.concat([pd.DataFrame(jobs_df),

In [73]:
#Quick looking of the dataframe
jobs_df.head(5)

,title,company_name,location,via,description,job_highlights,related_links,thumbnail,extensions,job_id,posted_at,schedule_type,work_from_home
0,Data Analyst,EquipmentShare,Anywhere,via LinkedIn,EquipmentShare is Hiring a Data Analyst\n\nEqu...,"[{'title': 'Qualifications', 'items': ['Degree...",[{'link': 'https://www.google.com/search?q=Equ...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[3 days ago, Work from home, Full-time, Health...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,3 days ago,Full-time,True
1,Data Analyst,Midtown Consulting Group,Anywhere,via LinkedIn,The Data Analyst Consultant at Midtown Consult...,"[{'title': 'Qualifications', 'items': ['Bachel...",[{'link': 'https://www.google.com/search?q=Mid...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[4 hours ago, Work from home, Full-time]",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,4 hours ago,Full-time,True
2,Data Analyst - Bank Operations,Jenius Bank,Anywhere,via LinkedIn,"GENERAL SUMMARY:\n\nReporting to the SVP, Depo...","[{'title': 'Qualifications', 'items': ['Who yo...",[{'link': 'https://www.google.com/search?q=Jen...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[4 hours ago, Work from home, Full-time]",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgLSBCYW5rIE...,4 hours ago,Full-time,True
3,Create a portfolio for Data Analyst,Upwork,Anywhere,via Upwork,Hi I’m a looking for someone to create a portf...,NaN,"[{'link': 'http://www.elance.com/', 'text': 'e...",NaN,"[2 days ago, Work from home, Contractor]",eyJqb2JfdGl0bGUiOiJDcmVhdGUgYSBwb3J0Zm9saW8gZm...,2 days ago,Contractor,True
4,Data Analyst,Equip Health,Anywhere,via Startup Jobs,Equip is a virtual program helping families re...,"[{'title': 'Qualifications', 'items': ['The id...",[{'link': 'https://www.google.com/search?q=Equ...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[3 days ago, Work from home, Full-time, Health...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,3 days ago,Full-time,True

In [74]:
jobs_df.isnull().sum()

title             0
company_name      0
location          0
via               0
description       0
job_highlights    1
related_links     0
thumbnail         2
extensions        0
job_id            0
posted_at         0
schedule_type     0
work_from_home    3
dtype: int64

In [75]:
jobs_df.shape

(10, 13)

In [76]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           10 non-null     object
 1   company_name    10 non-null     object
 2   location        10 non-null     object
 3   via             10 non-null     object
 4   description     10 non-null     object
 5   job_highlights  9 non-null      object
 6   related_links   10 non-null     object
 7   thumbnail       8 non-null      object
 8   extensions      10 non-null     object
 9   job_id          10 non-null     object
 10  posted_at       10 non-null     object
 11  schedule_type   10 non-null     object
 12  work_from_home  7 non-null      object
dtypes: object(13)
memory usage: 1.1+ KB

# Searching about how to read dict/json in a dataframe columns or putting all information in a new column