# IMPORT LIBRARIES AND DATA ðŸ“š

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime
pio.templates.default = "plotly_white"

In [16]:
data = pd.read_csv('rfm_data.csv')
data.head()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1000 non-null   int64
 1   PurchaseDate        1000 non-null   datetime64[ns]
 2   TransactionAmount   1000 non-null   float64
 3   ProductInformation  1000 non-null   object
 4   OrderID             1000 non-null   int64
 5   Location            1000 non-null   object
 6   Recency             1000 non-null   object
 7   Frequency           1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 62.6+ KB

In [45]:
#Calculate Recency, Frecuency and Monetary

data['PurchaseDate'] = pd.to_datetime(data['PurchaseDate'])

#Calculate Recency
data['Recency'] = (datetime.now().date() - data['PurchaseDate'].dt.date)

#Calculate Frequency
frecuency_data = data.groupby(['CustomerID'])['OrderID'].count().reset_index()
frecuency_data.rename(columns={'OrderID':'Frequency'}, inplace=True)
data = data.merge(frecuency_data, on='CustomerID', how='left')

#Calculate Monetary Value
monetary_data = data.groupby(['CustomerID'])['TransactionAmount'].sum().reset_index()
monetary_data.rename(columns={'TransactionAmount':'MonetaryValue'}, inplace=True)
data = data.merge(monetary_data, on = 'CustomerID', how='left')