<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/Save_ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.utils import shuffle

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/student-mat.csv')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]
predict = "G3" 
x = np.array(data.drop([predict], 1))
y = np.array(data[predict])

from sklearn.model_selection import train_test_split 
xtrain, ytrain, xtest, ytest = train_test_split(x, y, test_size=0.2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
linear_regression = LinearRegression() 
linear_regression.fit(xtrain, ytrain)

ValueError: ignored

In [ ]:
with open("pickle_model", "rb") as file:
  model = pickle.load(file)

predictions = model.predict(xtest) 

for i in range(len(predictions)):
  print(predictions[x], xtest[x], [ytest[x]])

FileNotFoundError: ignored

In [ ]:
7*5000