<a href="https://colab.research.google.com/github/danielrodriguez007/Data_Analysis/blob/main/UARIV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
plt.style.use('fivethirtyeight')

In [19]:
data = pd.read_json('https://www.datos.gov.co/resource/tr34-nyqp.json')
data.head()

,no,nombre_o_titulo_de_la,idioma,medio_de_conservaci_n_y_o,formato,lugar_de_consulta,fecha_de_generaci_n_de_la,frecuencia_de_actualizaci,responsable_de_la_producci,responsable_de_la_informaci
0,1,Servidor,N/A,Electrónico,Otro,\\IPprivada,2018,Según requerimiento,Gestión de la información/Oficina de Tecnologí...,Infraestructura tecnológica
1,2,Servidor,N/A,Electrónico,Otro,\\IPprivada,2018,Según requerimiento,Gestión de la información/Oficina de Tecnologí...,Infraestructura tecnológica
2,3,Servidor,N/A,Electrónico,Otro,\\IPprivada,2018,Según requerimiento,Gestión de la información/Oficina de Tecnologí...,Infraestructura tecnológica
3,4,Servidor,N/A,Electrónico,Otro,\\IPprivada,2018,Según requerimiento,Gestión de la información/Oficina de Tecnologí...,Infraestructura tecnológica
4,5,Servidor,N/A,Electrónico,Otro,\\IPprivada,2018,Según requerimiento,Gestión de la información/Oficina de Tecnologí...,Infraestructura tecnológica

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   no                           1000 non-null   int64
 1   nombre_o_titulo_de_la        1000 non-null   object
 2   idioma                       1000 non-null   object
 3   medio_de_conservaci_n_y_o    1000 non-null   object
 4   formato                      1000 non-null   object
 5   lugar_de_consulta            1000 non-null   object
 6   fecha_de_generaci_n_de_la    1000 non-null   object
 7   frecuencia_de_actualizaci    1000 non-null   object
 8   responsable_de_la_producci   1000 non-null   object
 9   responsable_de_la_informaci  1000 non-null   object
dtypes: int64(1), object(9)
memory usage: 78.2+ KB

In [21]:
data.isnull().sum()

no                             0
nombre_o_titulo_de_la          0
idioma                         0
medio_de_conservaci_n_y_o      0
formato                        0
lugar_de_consulta              0
fecha_de_generaci_n_de_la      0
frecuencia_de_actualizaci      0
responsable_de_la_producci     0
responsable_de_la_informaci    0
dtype: int64

In [23]:
data['medio_de_conservaci_n_y_o'].unique()

array(['Electrónico', 'Físico', 'Físico/Electrónico', 'N/A',
       'Fisico/Electrónico'], dtype=object)

In [24]:
data['idioma'] = data['idioma'].map({'español':'Español', 'Español':'Español', 'N/A':'N/A'})
data['medio_de_conservaci_n_y_o'] = data['medio_de_conservaci_n_y_o'].map({'Electrónico':'Electrónico','Físico':'Físico','Físico/Electrónico':'Fisico/Electrónico',
                                                                           'N/A':'N/A','Fisico/Electrónico':'Fisico/Electrónico'})

In [34]:
pivot = pd.pivot_table(data,values = 'no', index = 'fecha_de_generaci_n_de_la', aggfunc='count')
pivot

                           no
fecha_de_generaci_n_de_la
1905-07-13T00:00:00.000     2
2009-05-05T00:00:00.000     1
2009-12-31T00:00:00.000     3
2010-06-02T00:00:00.000     1
2011                        1
...                        ..
2022-05-25T00:00:00.000     1
2022-06-01T00:00:00.000     1
2022-06-07T00:00:00.000     2
2022-06-16T00:00:00.000     1
N/A                        82

[194 rows x 1 columns]

In [78]:
data['fecha_de_generaci_n_de_la'] = pd.to_datetime(data['fecha_de_generaci_n_de_la'], format = '%Y',errors='coerce')

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   no                           1000 non-null   int64
 1   nombre_o_titulo_de_la        1000 non-null   object
 2   idioma                       1000 non-null   object
 3   medio_de_conservaci_n_y_o    1000 non-null   object
 4   formato                      1000 non-null   object
 5   lugar_de_consulta            1000 non-null   object
 6   fecha_de_generaci_n_de_la    918 non-null    datetime64[ns]
 7   frecuencia_de_actualizaci    1000 non-null   object
 8   responsable_de_la_producci   1000 non-null   object
 9   responsable_de_la_informaci  1000 non-null   object
 10  año                          811 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 86.1+ KB

In [80]:
data['año'] = pd.DatetimeIndex(data['fecha_de_generaci_n_de_la']).year

In [85]:
data['año'] = data['año'].fillna(0)

In [86]:
data['año'].isnull().sum()

0

In [88]:
data['año'] = data['año'].astype('int')